.dart_tool/
pubspec.lock
.DS_Store
Podfile.lock

# Diagrams, produced by https://pub.dev/packages/layerlens.
DEPS.md

# # Firebase configurations for example apps
# # These should be created locally with `flutterfire configure`
# .firebase/
# **/macos/Runner/GoogleService-Info.plist
